<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Pokemon</title>
    <style>
        body {font-family: Arial, sans-serif; text-align: center;}
    </style>
</head>
<body>
<form action="@{/home}" th:action="@{/home}" method="post">
    <label for="species">Species:</label>
    <input type="text" id="species" name="species" required="required" maxlength="12"><br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required="required" maxlength="12"><br><br>
    <label for="gender">Gender:</label>
    <select name="gender" id="gender">
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
        <option value="GENDERLESS">GENDERLESS</option>
    </select><br><br>
    <label for="nature">Nature:</label>
    <select name="nature" id="nature">
        <option value="ADAMANT">ADAMANT</option>
        <option value="BASHFUL">BASHFUL</option>
        <option value="BOLD">BOLD</option>
        <option value="BRAVE">BRAVE</option>
        <option value="CALM">CALM</option>
        <option value="CAREFUL">CAREFUL</option>
        <option value="DOCILE">DOCILE</option>
        <option value="GENTLE">GENTLE</option>
        <option value="HARDY">HARDY</option>
        <option value="HASTY">HASTY</option>
        <option value="IMPISH">IMPISH</option>
        <option value="JOLLY">JOLLY</option>
        <option value="LAX">LAX</option>
        <option value="LONELY">LONELY</option>
        <option value="MILD">MILD</option>
        <option value="MODEST">MODEST</option>
        <option value="NAIVE">NAIVE</option>
        <option value="NAUGHTY">NAUGHTY</option>
        <option value="QUIET">QUIET</option>
        <option value="QUIRKY">QUIRKY</option>
        <option value="RASH">RASH</option>
        <option value="RELAXED">RELAXED</option>
        <option value="SASSY">SASSY</option>
        <option value="SERIOUS">SERIOUS</option>
        <option value="TIMID">TIMID</option>
    </select><br><br>
    <label for="move1">Move 1:</label>
    <input type="text" id="move1" name="move1" required="required" maxlength="25"><br><br>
    <label for="move2">Move 2:</label>
    <input type="text" id="move2" name="move2" maxlength="25"><br><br>
    <label for="move3">Move 3:</label>
    <input type="text" id="move3" name="move3" maxlength="25"><br><br>
    <label for="move4">Move 4:</label>
    <input type="text" id="move4" name="move4" maxlength="25"><br><br>
    <input type="submit" value="Create">
</form>
</body>
</html>